<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
    <form action="/change_password" method="POST">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" autocomplete="off" required>
        <br>
        <label for="old_password">Current Password: </label>
        <input type="password" name="old_password" id="old_password" autocomplete="off" required>
        <br>
        <label for="new_password">Current Password: </label>
        <input type="password" name="new_password" id="new_password" autocomplete="off" required>
        <input type="submit" value="Change Password">
    </form>
</body>
</html>